* {
    color: #000000;
}

body {
    font-family: Helvetica;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}

#numLabel {
    display: block;
    font-size: 4em;
}

button {
    font-size: 2em;
    font-weight: bold;
    border: solid rgba(0, 0, 0, 0%);
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    transition: all 0.1s ease-in;
}

button:hover {
    transition: all 0.1s ease-out;
}

#incrementBtn {
    background-color: rgba(0, 255, 0, 100%);
}

#incrementBtn:hover {
    background-color: rgba(0, 255, 0, 50%);
}

#decrementBtn {
    background-color: rgba(255, 0, 0, 100%);
}

#decrementBtn:hover {
    background-color: rgba(255, 0, 0, 50%);
}

#resetBtn {
    margin-top: 5px;
    width: 205px !important;
}

.counter {
    text-align: center;
}